@import "../../styles/variables.scss";

.agencyServices {
  max-width: 1280px;
  width: 100%;
  padding: 86px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 84px;
  min-height: 520px;
  position: relative;

  @media (max-width: 80rem) {
    min-height: 910px;
    padding: 48px 12px;
    box-sizing: border-box;
    min-width: 430px;
  }

  > span:first-child {
    width: fit-content;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 86px;
      min-width: 430px;
      height: 2px;
      background-color: $light-blue;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }

  .content {
    width: 100%;
    position: relative;

    @media (max-width: 80rem) {
      width: auto;
      position: absolute;
      bottom: 5%;
      min-width: 520px;
    }
    
    @media (max-width: 35rem) {
        width: auto;
        position: absolute;
        bottom: 5%;
        max-width: 420px;
        min-width: 260px;

      }
    .accordionItem {
      border-top: 1px solid $light-gray;
      max-width: 520px;
      width: 100%;
      margin: 0;
      overflow: hidden;
      border-radius: 4px;

      &:last-child {
        border-bottom: 1px solid $light-gray;
      }

      .accordionItemContainer {
        .image {
          position: absolute;
          right: 0;
          top: 0;

          @media (max-width: 80rem) {
            position: absolute;
            left: 50%;
            top: -50%;
            transform: translate(-50%, -50%);
            width: 370px;
            height: 360px;
          }

          img {
            width: 500px;
            height: 372px;

            @media (max-width: 80rem) {
              width: 370px;
              height: 360px;
            }
          }
        }
      }
    }

    .accordionHeader {
      background-color: $white;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      font-weight: bold;

      &.active {
        background-color: $light-gray;

        > span:first-child {
          color: $blue;
        }
      }

      .icon {
        transition: transform 0.3s ease;
        img {
          width: 32px;
          height: 32px;
        }
      }

      .rotate {
        transform: rotate(360deg);
      }
    }

    .accordionContent {
      padding: 15px 20px;
      background-color: $light-gray;
      animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        max-height: 0;
      }
      to {
        opacity: 1;
        max-height: 200px;
      }
    }
  }
}
