@import "../../styles/variables.scss";

.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 42px;
  padding: 86px 0;

  @media (max-width: 80rem) {
    padding: 48px 12px;
    max-width: none;
    width: auto;
    min-width: 430px;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 55%;
    text-align: center;
  }

  .products {
    width: 100%;

    @media (max-width: 80rem) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .productSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 120px;

      @media (max-width: 80rem) {
        flex-direction: column-reverse;
        gap: 12px;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .description {
          align-items: flex-start;
          text-align: left;
        }

        @media (max-width: 80rem) {
          flex-direction: column-reverse;
        }
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        gap: 32px;
        max-width: 40%;
        width: 100%;

        @media (max-width: 80rem) {
          text-align: left;
          align-items: flex-start;
        }

        &:first-child {
          span:first-child {
            max-width: 60%;
            width: 100%;
            border-bottom: 2px solid $light-blue;
            padding-bottom: 16px;

            @media (max-width: 80rem) {
              max-width: none;
            }
          }
        }
      }

      img {
        @media (max-width: 80rem) {
          max-width: 430px;
          width: 100%;
          max-height: 384px;
          height: 100%;
        }
      }
    }
  }
}
