$white: #FFFFFF;
$light-gray: #EDEDED;
$dark-gray: #646464;
$black: #000000;
$light-blue: #00BAFF;
$blue: #1C73A8;
$green: #0AE2C1;
$pink-opacity: rgba(253, 192, 183, 0.8);
$purple-opacity: rgba(210, 204, 255, 0.8);
$blue-opacity: rgba(107, 180, 253, 0.8);
$green-opacity: rgba(10, 226, 193, 0.8);
$light-blue-opacity: rgba(0, 186, 255, 0.8);

$gradient1: linear-gradient(180deg, $pink-opacity 0%, $purple-opacity 48.75%, $blue-opacity 100%);
$gradient2: linear-gradient(180deg, $green-opacity 0%, $light-blue-opacity 100%);
