@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Medium.ttf') format('truetype'),
    url('../fonts/Poppins-SemiBold.ttf') format('truetype'),
    url('../fonts/Poppins-ExtraBold.ttf') format('truetype'),
    url('../fonts/Poppins-Bold.ttf') format('truetype');
  }

$font-family-poppins: 'Poppins';

$font-large-bold: (
  font-family: $font-family-poppins,
  font-size: 80px,
  font-weight: 700,
  line-height: 120px
);

$font-medium-regular: (
  font-family: $font-family-poppins,
  font-size: 50px,
  font-weight: 400,
  line-height: 75px
);

$font-medium-medium: (
  font-family: $font-family-poppins,
  font-size: 50px,
  font-weight: 500,
  line-height: 75px
);

$font-medium-semibold: (
  font-family: $font-family-poppins,
  font-size: 50px,
  font-weight: 600,
  line-height: 75px
);

$font-medium-bold: (
  font-family: $font-family-poppins,
  font-size: 50px,
  font-weight: 700,
  line-height: 75px
);

$font-small-semibold: (
    font-family: $font-family-poppins,
    font-size: 20px,
    line-height: 30px,
    font-weight: 500
);

$font-section-title: (
    font-family: $font-family-poppins,
    font-size: 44px,    
    font-weight: 700,
    line-height: 48px
);

$font-section-medium-title: (
    font-family: $font-family-poppins,
    font-size: 38px,    
    font-weight: 700,
    line-height: 42px
);

$font-section-small-title: (
    font-family: $font-family-poppins,
    font-size: 24px,    
    font-weight: 700,
    line-height: 28px
);

$font-section-small-semi-bold-title: (
    font-family: $font-family-poppins,
    font-size: 24px,    
    font-weight: 700,
    line-height: 28px
);

$font-section-description: (
    font-family: $font-family-poppins,
    font-size: 18px,
    line-height: 24px,
);

$font-section-description-bold: (
    font-family: $font-family-poppins,
    font-size: 18px,
    line-height: 24px,
    font-weight: 500
);

$font-section-small-description: (
    font-family: $font-family-poppins,
    font-size: 16px,
    line-height: 24px,
);

@mixin apply-font($font-map) {
    @each $property, $value in $font-map {
      #{$property}: #{$value};
    }
  }